// mixin
@mixin align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin no-touch{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-color: #ececec;
  pointer-events: none;
}

@mixin text-overflow($line: 3){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin flex-horizon {
  display: flex;
  flex-direction: row;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
}

